[class*="NavBar-logoContainer-"] {
    background-image: url(https://i.imgur.com/EZmewCK.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 40px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}
